

.nav_bar {
    display: flex;
}

.nav_bar_left {
    display: flex;
}

#sam {
    font-size: 24px;
    text-decoration: none;
}

#sam:hover {
    font-size: 24px;
}

.nav_bar_right {
    position: absolute;
    right: 105px;
    top: 1.5px;
    text-align: right;
    display: inline-block;
}

#log-in,
#join-premium,
#search,
#change-language{
    text-decoration: none;
    padding: 4px;
    margin: 55px;
    margin-bottom: 40px;
    display: inline-block;
    position: relative;
}

#star {
    display: inline-block;
    position: relative;
    border-radius: 60px;
    box-shadow: 0 0 2px #888;
    padding: 0.2em 0.6em;
    width: 20px;
}

#join-premium {
    background-color: gold;
    border-radius: 12px;
    /* border: solid; */

}

#star-premium {
    display: inline-block;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0 2px #888;
    padding: 0.2em 0.2em;
    width: 20px;
}

#search-icon {
    display: inline-block;
    position: relative;
    border-radius: 60px;
    box-shadow: 0 0 2px #888;
    padding: 0.2em 0.6em;
    width: 20px;
}

#choose-language {
    display: inline-block;
    position: relative;
    border-radius: 60px;
    box-shadow: 0 0 2px #888;
    padding: 0.2em 0.6em;
    width: 20px;
}

#change-language:hover {
    color: blue;
}

#log-in:hover {
    color: blue;
}

#join-premium:hover {
    color: blue;
}

#search:hover {
    color: blue;
}


.tabbed-nav_link {
    text-decoration: none;
    border: 1px solid #dfe1ed;
    border-bottom: 0;
    border-radius: 2px;
    font-weight: lighter;
    line-height: 20px;
    padding: 5px;
    margin: 2px;
    color: white;
    display: inline-flex;
    margin-right: auto;
    margin-left: auto;
}

.tabbed-nav_link:hover {
    color: blue;
}


#race-timers {
    background-color: red;
    border: solid black;
}

#classroom-timers {
    background-color: lightgreen;
    border: solid black;
}

#holiday-timers {
    background-color: purple;
    border: solid black;
}

#random-name-pickers {
    background-color: orange;
    border: solid black;
}

#random-number-generators {
    background-color: gray;
    border: solid black;
}

#sensory-timers {
    background-color: maroon;
    border: solid black;
}

#dates {
    background-color: brown;
    border: solid black;
}

#clocks {
    background-color: lightseagreen;
    border: solid black;
}

#exam-timers {
    background-color: blue;
    border: solid black;
}

#chance-games {
    background-color: limegreen;
    border: solid black;
}

#group-generators {
    background-color: lightpink;
    border: solid black;
}

#presentation-timers {
    background-color: orange;
    border: solid black;
}

#tally-counters {
    background-color: lightblue;
    border: solid black;
}

i.fas {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0 0 2px #888;
    padding: 0.5em 0.6em;
}

#apple {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0 0 2px #888;
    padding: 0.5em 0.6em;
    width: 16px;
}

#holiday {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0 0 2px #888;
    padding: 0.5em 0.6em;
    width: 16px;
}

#question {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0 0 2px #888;
    padding: 0.5em 0.6em;
    width: 16px;
}

#dice {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0 0 2px #888;
    padding: 0.5em 0.6em;
    width: 16px;
}

#time {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0 0 2px #888;
    padding: 0.5em 0.6em;
    width: 19px;
}

#clock {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0 0 2px #888;
    padding: 0.5em 0.6em;
    width: 16px;
}

#exam {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0 0 2px #888;
    padding: 0.5em 0.6em;
    width: 16px;
}

#chance {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0 0 2px #888;
    padding: 0.5em 0.6em;
    width: 15px;
}

#group {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0 0 2px #888;
    padding: 0.5em 0.6em;
    width: 16px;
}

#presentation {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0 0 2px #888;
    padding: 0.5em 0.6em;
    width: 15px;
}

#tally {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0 0 2px #888;
    padding: 0.5em 0.6em;
    width: 16px;
}

.centered {
    display: block;
    clear: both;
    text-align: center;
}

.grunge {
    background-image: url(./images/backgrounds/grunge.png);
}

.blue {
    border-color: #15567d;
    background: #0587cea6;
}

.box .content h2 {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    font-weight: 400px;
    text-align: center;
}

h2 {
    display: block;
    color: black;
}

.box {
    border-top-width: 10px;
    border-top-style: solid;
    border-bottom-width: 10px;
    border-bottom-style: solid;
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fff;
    text-align: left;
    font-family: lucida grande,lucida sans unicode,lucida sans,dejavu sans,Verdana,sans-serif;
}

#online-stopwatch {
    width: 600px;
    height: 330px;
    align-items: center;
    float: flex;
    right: 10px;
    left: 320px;
    position: relative;
}

h1 {
    display: inline-block;
}



#dates {
    color: white;
    background-color: brown;
}

.fullscreen > #full{
    text-decoration: none;
}

.fullscreen > #full:hover {
    color: blue;
}

.premiumShow {
    border: solid;
    border-radius: 244px;
    background-color: goldenrod;
    margin: 16px;
    width: 410px;
    left: 702px;
    position: relative;
}

.premiumShow > .prem {
    width: 200px;
    height: 130px;
    left: 145px;
    position: relative;
}

.premiumShow, .prem > .pjnf {
    font-size: 30px;
    /* display: inline-block */
    position: relative;
}

.prem > #show {
    text-decoration: none;
    color: black;
}

.prem > #show:hover {
    color: blue;
}

#background-footer {
    background-color: black;
    padding: 10px;
    margin: 0px;
}

#onl-stopwatch,
#calculator,
#help-support,
#contact-us,
#terms,
#privacy-policy {
    text-decoration: none;
    padding: 0px;
    margin: 15px;
    margin-bottom: 8px;
    display: inline-block;
    position: relative;
    left: 525.5px;
    color: white;
}

.menu-links >  ul li #count-timer,
#large-stopwatch,
#split-lap,
#egg-timer,
#bomb-countdown,
#clock-countdown,
#chess-clock,
#chess-timer,
#online-clock,
#online-alarm-clock,
#online-digital-clock,
#cash-clock,
#interval-timer,
#metronome,
#top-app,
#make-own-timer,
#custom-countdown-timer,
#talking-clock,
#video-timers,
#download,
#Timer {
    background-color: #15567d;
    margin-right: 35px;
    padding: 5px;
    width: 180px;
}

.menu-links li {
    display: inline;
    list-style-type: none;
    overflow: hidden;
    width: 150px;
    height: 30px;
    border: 0 #000;
    margin-bottom: 0;
    padding: 0;
    text-align: center;
}

/* .timer_bar > #table {
    display: inline;
    width: 150px;
    height: 30px;
    border: 0 #000;
    margin-bottom: 0;
    padding: 0;
    text-align: center;
} */

#home {
    display: inline;
    border-radius: 60px;
    box-shadow: 0 0 2px #888;
    padding: 0.02em 0.04em;
    width: 18px;
}

#race-timer {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0 0 2px #888;
    padding: 0.5em 0.6em;
    width: 16px;
}

#apple {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0 0 2px #888;
    padding: 0.5em 0.6em;
    width: 16px;
}

#holi {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0 0 2px #888;
    padding: 0.5em 0.6em;
    width: 16px;
}

#date-countdown {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0 0 2px #888;
    padding: 0.5em 0.6em;
    width: 16px;
}
